[project]
name = "xl2roefact"
version = "0.1.14"  #NOTE this entry is subject to be periodically updated
description = "Excel invoice creation, generate JSON, XML, PDF and upload to RO E-Fact system"
authors = [
    { name = "Petre Iordanescu", email = "petre.iordanescu@gmail.com" },
    { name = "RENware Software Systems", email = "renware.systems@gmail.com" }
]
dependencies = [
    "altgraph",
    "argcomplete",
    "build",
    "click",
    "colorama",
    "commonmark",
    "cx-Freeze",
    "cx-Logging",
    "et-xmlfile",
    "Fraction",
    "lief",
    "markdown-it-py",
    "mdurl",
    "openpyxl",
    "packaging",
    "pefile",
    "pip",
    "platformdirs",
    "Pygments",
    "pyinstaller-hooks-contrib",
    "pylightxl",
    "pyproject_hooks",
    "python-dateutil",
    "pytzdata",
    "pywin32-ctypes",
    "rich",
    "setuptools",
    "shellingham",
    "six",
    "tomli",
    "typer",
    "typing_extensions",
    "userpath",
    "wheel",
]
# [
#     "pendulum"
# ]  #FIXME @231217 still raise error when import `pendulum` package (`File "...\pendulum\helpers.py", line 54, in <module> difference_formatter = DifferenceFormatter()`)
readme = "README.md"
license = {text = "GNU"}
requires-python = ">=3.11"

[build-system]
requires = ["pdm-backend"]
build-backend = "pdm.backend"

[tool.rye]
managed = true
dev-dependencies = []

[tool.hatch.metadata]
allow-direct-references = true


#NOTE section add for `cxFreeze` - intention what is expected for, is obvious - source: `https://cx-freeze.readthedocs.io/en/latest/setup_script.html#commands`
[tool.distutils.build_exe]
excludes = ["tkinter", "unittest"]
zip_include_packages = ["encodings", "PySide6"]



# #NOTE: see `https://github.com/pypa/sampleproject/blob/main/pyproject.toml` for all keywords description

[tool.pdm]
package-type = "library"
