[project]
name = "xl2roefact"
# version = "0.1.19"  #NOTE this entry will be read from `xl2roefact/__version__` file
dynamic = ["version"]
description = "Excel invoices data retrieve, export & upload to RO E-Fact system"
authors = [
    { name = "Petre Iordanescu", email = "petre.iordanescu@gmail.com" },
    { name = "RENware Software Systems", email = "renware.systems@gmail.com" }
]
dependencies = [
    "altgraph~=0.17",
    "argcomplete~=3.2",
    "build~=1.0",
    "commonmark~=0.9",
    "et-xmlfile~=1.1",
    "Fraction~=2.2",
    "Jinja2~=3.1",
    "lief~=0.13",
    "markdown-it-py~=3.0",
    "MarkupSafe~=2.1",
    "mdurl~=0.1",
    "openpyxl~=3.1",
    "packaging~=23.2",
    "pefile~=2023.2",
    "pip~=23.3",
    "platformdirs~=4.1",
    "Pygments~=2.17",
    "pyinstaller-hooks-contrib~=2023.12",
    "pylightxl~=1.61",
    "pyproject-hooks~=1.0",
    "python-dateutil~=2.8",
    "pytzdata~=2020.1",
    "pywin32-ctypes~=0.2",
    "rich~=13.7",
    "setuptools~=69.0",
    "shellingham~=1.5",
    "six~=1.16",
    "time-machine~=2.13",
    "tomli~=2.0",
    "typing-extensions~=4.9",
    "tzdata~=2023.4",
    "userpath~=1.9",
    "wheel~=0.42",
]  #FIXME @231217 still raise error when import `pendulum` package (`File "...\pendulum\helpers.py", line 54, in <module> difference_formatter = DifferenceFormatter()`)
readme = "README.md"
license = {file = "LICENSE"}
requires-python = ">= 3.10"
classifiers = [  #  [piu@231226] just informative key at this moment
    "Product code :: 0000-0095",  # [piu @ 231226] to test if accepted here
    "Development Status :: 4 - Beta",
    "Intended Audience :: End users",
    "Topic :: Invoices :: Upload invoices :: RO EFact",
    "License :: GNU License",
    # Specify the Python versions you support here.
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
]



[project.urls]
Homepage = "https://https://invoicetoroefact.renware.eu"
PDF-Documentation = "https://invoicetoroefact.renware.eu/pdfs/print_page.html/print_page.pdf"
Repository = "https://github.com/petre-renware/api_to_roefact"





[build-system]
requires = ["pdm-backend"]
build-backend = "pdm.backend"





[tool.pdm]
version = { source = "file", path = "xl2roefact/__version__.py" }



[project.scripts]
# xl2roefact = "xl2roefact.__main__:main"  #NOTE should make more tests, firts regarding path... but probably after lib publishing on PyPi and installation on a separated env...




[tool.pdm.scripts]  #NOTE ref: `https://pdm-project.org/latest/usage/scripts/` #TODO all of these are subject to documentation update (mainly `doc/README_xl2roefact_library.md`)

build_wheel = {shell = "pdm build --no-clean"}  # build python packages (wheel & sdist) in `dist/` directory

build_msi = {shell = "python setup.py bdist_msi"}  # build MSI pachkage in `dist/` directory

build_doc = {shell = "pydoc-markdown -I xl2roefact --render-toc >doc/810.05a-xl2roefact_DLD_specs.md"}  # build API Reference doc (`xl2roefact/doc/810.05a-xl2roefact_DLD_specs.md`)

build_all = {composite = ["build_wheel", "build_msi", "build_doc"]}  # build all packages (MSI, python package wheel, python package sdist, design doc)

xl2roefact = {shell = "python -m xl2roefact"}  # run `xl2roefact` as python module



[tool.pdm.dev-dependencies]  # dependencies used only in develeopment and not transfered in Pythn package building
dev = [
    "click~=8.1",
    "typer~=0.9",
    "pydoc-markdown~=4.8",
    "cx-Freeze~=6.15",
    "cx-Logging~=3.1",
    "pyinstaller~=4.5",
]


[tool.hatch.metadata]  #FIXME piu: i think this is related to `Hatchling builder` so is useless with `PDM builder` - DROP this table after some tests
allow-direct-references = true




#NOTE section add for `cxFreeze`, for details see here: `https://cx-freeze.readthedocs.io/en/latest/setup_script.html#commands`
[tool.distutils.build_exe]
excludes = ["tkinter", "unittest"]
zip_include_packages = ["encodings", "PySide6"]



# #NOTE: see `https://github.com/pypa/sampleproject/blob/main/pyproject.toml` for all keywords description
