[project]
name = "xl2roefact"
version = "0.1.18"  #NOTE this entry is subject to be periodically updated
description = "Excel invoice upload to RO E-Fact system"
authors = [
    { name = "Petre Iordanescu", email = "petre.iordanescu@gmail.com" },
    { name = "RENware Software Systems", email = "renware.systems@gmail.com" }
]
dependencies = [
    "pdoc>=14.2.0",
    "altgraph==0.17.4",
    "argcomplete==3.2.1",
    "build==1.0.3",
    "click==8.1.7",
    "colorama==0.4.6",
    "commonmark==0.9.1",
    "cx-Freeze==6.15.12",
    "cx-Logging==3.1.0",
    "et-xmlfile==1.1.0",
    "Fraction==2.2.0",
    "Jinja2==3.1.2",
    "lief==0.13.2",
    "markdown-it-py==3.0.0",
    "MarkupSafe==2.1.3",
    "mdurl==0.1.2",
    "openpyxl==3.1.2",
    "packaging==23.2",
    "pdoc==14.2.0",
    "pefile==2023.2.7",
    "pip==23.3.2",
    "platformdirs==4.1.0",
    "Pygments==2.17.2",
    "pyinstaller-hooks-contrib==2023.10",
    "pylightxl==1.61",
    "pyproject-hooks==1.0.0",
    "python-dateutil==2.8.2",
    "pytzdata==2020.1",
    "pywin32-ctypes==0.2.2",
    "rich==13.7.0",
    "setuptools==69.0.2",
    "shellingham==1.5.4",
    "six==1.16.0",
    "time-machine==2.13.0",
    "tomli==2.0.1",
    "typer==0.9.0",
    "typing-extensions==4.9.0",
    "tzdata==2023.3",
    "userpath==1.9.1",
    "wheel==0.42.0"
]  #FIXME @231217 still raise error when import `pendulum` package (`File "...\pendulum\helpers.py", line 54, in <module> difference_formatter = DifferenceFormatter()`)
readme = "README.md"
#license = "LICENSE"  #FIXME.cxFreeze.reports.err.with.this:`2 values found...`, probably need a standard value, like "MIT"; better see in GitHub what accepts it (!)
requires-python = ">= 3.10"


[build-system]
requires = ["pdm-backend"]  #FIXME this line apecify the building backend ? If so, intention is for `PDM` tool
build-backend = "pdm.backend"  #FIXME this line apecify the building backend ? If so, intention is for `PDM` tool
product_code = "0000-0095"  #NOTE introduced @ 231217 by [piu] - should be tested #TODO-test-me
#directories = ["invoie_files"]  #NOTE this entry is supposed to create these directories on installation #TODO-tests:
#           - test @ 231217: try `invoice_files/` - result FAIL, directory was not created  - meybe entry place is not here, but build was exec with no err


[tool.pdm.scripts]
#TODO this table should contain commands for:
#TODO   - build MSI package
#TODO   - build PyPy packages (wheel and sdist)
#TODO   - execute `xl2rofact` command
#TODO   - build documentation (with `pdoc` ? or meanwhile found a better one...)
#NOTE: attn, here can also put `shell` commands, so if needed can install things with `sudo apt install ...`
#TODO   - ...



[tool.hatch.metadata]  #FIXME piu: i think this is related to `Hatchling builder` so is useless with `PDM builder` - DROP this table after some tests
allow-direct-references = true



[tool.pdm.scripts]
#TODO setction dedicated to PDM scripts:
#    types: `cmd` (Python commands, `shell` Bash shell commands, `call` (Python direct callables) and `composite` (to run multiple scropts in sequence)
#    ref: `https://pdm-project.org/latest/usage/scripts/`



#NOTE section add for `cxFreeze`, for details see here: `https://cx-freeze.readthedocs.io/en/latest/setup_script.html#commands`
[tool.distutils.build_exe]
excludes = ["tkinter", "unittest"]
zip_include_packages = ["encodings", "PySide6"]



# #NOTE: see `https://github.com/pypa/sampleproject/blob/main/pyproject.toml` for all keywords description
