
name: build_site
run-name: Automated site build (by RENware Software Systems)
on:
  push:
    branches:
      - build-site
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com

      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Build site
        run: |
          python -m pip install --upgrade pip
          pip install setuptools --upgrade
          
          #   install PDM and build environment
          python -m pip install pdm
          python -m pdm install

          #    build site with mkdocs
          python -m pdm run build_site

          #    commit work done and push it back to server (attn!!!, here you are on client machine of GitHub organization)
          git add docs/*
          git commit -am "Automated site built (by RENware Software Systems)"
          git push





