#
# Petre Iordanescu @ 2402226:
#   - workflow intended to publish `xl2roefact` on PyPi. Workflow is registered on PyPi.
#   - PyPi registered project name: `xl2roefact` with declared workflow: `pypi-publish.yml`
#   - NOTE: PyPi publishing will be managed by PDM package manager
#

name: pypi-publish
on:
  push:
    branches:
      - pypi-publish
permissions:
  contents: write
jobs:
  pypi-publish:
    name: PyPi publish of xl2roefact
    runs-on: ubuntu-latest
    permissions:
      # This permission is needed for private repositories.
      contents: read
      # IMPORTANT: this permission is mandatory for trusted publishing
      id-token: write
    steps:
      - uses: actions/checkout@v3
      - uses: pdm-project/setup-pdm@v3
      - name: PyPi publish of xl2roefact package
        run: |
          cd xl2roefact
          python -m pip install --upgrade pip
          pip install setuptools --upgrade

          #  create a temp dir and move all `.msi`
          mkdir tmp_msi_files
          mv ./dist/*.msi ./tmp_msi_files
          
          #  install PDM and build environment
          python -m pip install pdm
          python -m pdm install
        
          #  publish package (#TODO: consider to store in secrets the token value)
          pdm publish --no-build --username __token__ --password pypi-AgEIcHlwaS5vcmcCJDc4YzVkNTY1LWVhODAtNDFmMy1hOTIwLTQ5ZTU0Y2RkMTU0ZAACKlszLCIxZjFhZThlMS1mNzQ0LTQ5ZWEtOWU5Yy0zYmE1NGQ3YmYzZGIiXQAABiCuLajsSU8q0SO1n3DGWh3aU2qzfx-xh5oUlJ2Q57Wnpw

          #  move back `.msi` files and drop temp directory
          mv ./tmp_msi_files/*.msi ./dist
          rm -r ./tmp_msi_files

          
