#
# Petre Iordanescu @ 2402226:
#   - workflow intended to publish `xl2roefact` on PyPi. Workflow is registered on PyPi.
#   - PyPi registered project name: `xl2roefact` with declared workflow: `pypi-publish.yml`
#   - NOTE: PyPi publishing will be managed by PDM package manager
#

name: pypi-publish
run-name: Automated publish `xl2roefact` on PyPi (by RENware Software Systems)
on:
  push:
    branches:
      - pypi-publish
permissions:
  contents: write
jobs:
  pypi-publish:
    name: PyPi publish of xl2roefact
    runs-on: ubuntu-latest
    permissions:
      # This permission is needed for private repositories.
      contents: read
      # IMPORTANT: this permission is mandatory for trusted publishing
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com

      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: PyPi publish of xl2roefact package
        run: |
          cd xl2roefact
          python -m pip install --upgrade pip
          pip install setuptools --upgrade

          #   install PDM and build environment
          python -m pip install pdm
          python -m pdm install

          #  create a temp dir and move all `.msi`
          mkdir tmp_dist_files
          mv ./dist/* ./tmp_dist_files

          #  build a new package for current version (NOTE: mandatory as directory is cleaned & empty here)
          python -m pdm run build_wheel
          #  publish package (#TODO: consider use PDM script to move "sensitive" token string out of gh-workflow /  #NOTE gh secrets is too complex just for this iss)
          pdm publish --no-build --username __token__ --password pypi-AgEIcHlwaS5vcmcCJDc4YzVkNTY1LWVhODAtNDFmMy1hOTIwLTQ5ZTU0Y2RkMTU0ZAACKlszLCIxZjFhZThlMS1mNzQ0LTQ5ZWEtOWU5Yy0zYmE1NGQ3YmYzZGIiXQAABiCuLajsSU8q0SO1n3DGWh3aU2qzfx-xh5oUlJ2Q57Wnpw

          #  move back `.msi` files and drop temp directory
          mv ./tmp_dist_files/* ./dist
          rm -r ./tmp_dist_files
